<%= form_with(model: Ticket, local: true) do |form| %>
  <% if Ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Ticket.errors.count, "error") %> prohibited this Ticket from being saved:</h2>

      <ul>
      <% Ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :Ticket_name %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.number_field :temperature, id: :Ticket_temperature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
